@model SearchModel
@using System.Text;
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "View CheckIO - Admin";

}

@if (Model.checkiolist.Count > 0)
{
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-5"></div>
        <div class="col-sm-2">@Html.ActionLink("Back","Dashboard","Home", null,new{@class="btn btn-success"})</div>
    </div>
    <div class="d-inline-block">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Media ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Account ID</th>
                    <th scope="col">User</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>

                </tr>
            </thead>
            <tbody>
                @foreach (CheckIOModel mm in Model.checkiolist)
                {
                    <tr scope="row">
                        <td>@mm.MediaID</td>
                        <td>@mm.MediaName</td>
                        <td>@mm.AccountID</td>
                        <td>@mm.Username</td>
                        <td>@mm.FirstName</td>
                        <td>@mm.LastName</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <p>No Results found</p>
    @Html.ActionLink("Back","Dashboard","Home", null,new{@class="btn btn-success"})
}