@model SearchModel
@using System.Text;
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "Browse";

}

@if (Model.MediaList.Count > 0)
{
    <div class="d-inline-block">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Media ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Medium</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    @if (Model.access != null)
                    {
                        @if (Model.access == 1 || Model.access == 2)
                        {
                            <th scope="col"></th>
                            <th scope="col"></th>
                        }
                        <th scope="col"></th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (MediaModel mm in Model.MediaList)
                {
                    <tr scope="row">
                        <td>@mm.Media_ID</td>
                        <td>@mm.Media_Name</td>
                        <td>@mm.Media_Type</td>
                        <td>@mm.Author</td>
                        <td>@mm.Publisher</td>
                        @if (Model.access == 1 || Model.access == 2 || Model.access == 3)
                        {
                            @if (Model.access == 1 || Model.access == 2)
                            {
                                <td>@Html.ActionLink("Edit","Edit","Admin", (MediaModel)mm, new {@class="btn btn-primary"})</td>
                                <td>@Html.ActionLink("Delete","Delete","Admin", (MediaModel)mm, new{@class="btn btn-primary"})</td>
                            }
                            if (mm.Account_ID != null && mm.Account_ID != Model.User.Account_ID)
                            {
                                if (Model.holdiolist.Count > 0)
                                {
                                    foreach (HoldIOModel hiom in Model.holdiolist)
                                    {
                                        if (mm.Media_ID == hiom.MediaID)
                                        {
                                            <td>@Html.ActionLink("Checked-Out","CheckIO","Patron",(MediaModel)mm,new {@class="btn btn-primary disabled"})</td>
                                            <td>@Html.ActionLink("Remove Hold","HoldIO","Patron",(MediaModel)mm,new {@class="btn btn-primary"})</td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td>@Html.ActionLink("Checked-Out","CheckIO","Patron",(MediaModel)mm,new {@class="btn btn-primary disabled"})</td>
                                    <td>@Html.ActionLink("Place Hold","HoldIO","Patron",(MediaModel)mm,new {@class="btn btn-primary"})</td>
                                }
                            }
                            else if (mm.Account_ID != null && mm.Account_ID == Model.User.Account_ID)
                            {
                                <td>@Html.ActionLink("Check-In","CheckIO","Patron",(MediaModel)mm,new {@class="btn btn-primary "})</td>

                            }
                            else
                            {
                                <td>@Html.ActionLink("Checkout","CheckIO","Patron",(MediaModel)mm,new {@class="btn btn-primary"})</td>
                            }

                        }
                    </tr>
                }

            </tbody>
        </table>
        @if (Model.access == 1 || Model.access == 2)
        {
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    @Html.ActionLink("Add","AddMedia","Admin",null,new {@class="btn btn-success"})
                </div>
            </div>
        }

    </div>
}
else
{
    <p>No Results found</p>
}