@model SearchModel
@using System.Text;
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "View CheckIO - Patron";

}

@if (Model.MediaList.Count > 0)
{
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            @Html.ActionLink("Back","Dashboard","Home", null,new{@class="btn btn-success"})
        </div>
    </div>
    <div class="d-inline-block">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Media ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Medium</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>

                </tr>
            </thead>
            <tbody>
                @foreach (MediaModel mm in Model.MediaList)
                {
                    <tr scope="row">
                        <td>@mm.Media_ID</td>
                        <td>@mm.Media_Name</td>
                        <td>@mm.Media_Type</td>
                        <td>@mm.Author</td>
                        <td>@mm.Publisher</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <p>No Results found</p>
    @Html.ActionLink("Back","Dashboard","Home", null,new{@class="btn btn-success"})
}